#container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "footer footer";
  grid-gap: 10px;
  padding: 10px;
}
header {
  grid-area: header;
  background-color: #fea3a3;
  padding: 10px;
  text-align: center;
}
nav {
  grid-area: nav;
  background-color: #728d06;
  padding: 10px;
}
section {
  grid-area: section;
  background-color: #7547e7;
  padding: 10px;
}
aside {
  grid-area: aside;
  background-color: #6db7f0;
  padding: 10px;
}
footer {
  grid-area: footer;
  background-color: #cc3e5d;
  padding: 10px;
  text-align: center;
}
article {
  background-color: #f4c4c4;
  margin: 10px 0;
  padding: 10px;
}
